* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f8;
}

/* NAVBAR */
nav {
  background: #0a58ca;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a.active {
  text-decoration: underline;
}

.menu-btn {
  display: none;
  font-size: 26px;
}

/* FILTER BAR */
.filter-bar {
  display: flex;
  gap: 15px;
  padding: 25px;
  background: white;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-bar input,
.filter-bar select {
  padding: 12px;
  width: 220px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* PRODUCTS */
.products {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  color: #555;
  font-size: 15px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.product-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #0a58ca;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #0a58ca;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: #0a58ca;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px;
  }

  nav ul.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}
