* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f8;
}

/* NAVBAR */
nav {
  background: #0a58ca;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a.active {
  text-decoration: underline;
}

.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 85vh;
  background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url("./assets/img1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* BUTTONS */
.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.btn.primary {
  background: #ffc107;
  color: #000;
}

.btn.outline {
  border: 2px solid white;
  color: white;
}



.btn.outline:hover{
    background-color: #ffffffc5;
    color: #000;
}

/* FEATURES SECTION */
.features {
  padding: 70px 30px;
  background: #f9fafb;
  text-align: center;
}

.section-title {
  font-size: 34px;
  margin-bottom: 10px;
  color: #111;
}

.section-subtitle {
  color: #666;
  margin-bottom: 45px;
  font-size: 17px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.features .card {
  background: white;
  padding: 35px 25px;
  border-radius: 16px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.features .card:hover {
  transform: translateY(-8px);
}

.features .card i {
  font-size: 40px;
  color: #0a58ca;
  margin-bottom: 15px;
}

.features .card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.features .card p {
  color: #555;
  font-size: 15px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  background: #0a58ca;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #0a58ca;
    width: 100%;
    padding: 20px;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li{
    margin-top: 20px;
    text-align: center;
  }

  .menu-btn {
    display: block;
  }
}
